@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

* {
  margin-bottom: 0px;
}
body,
html {
  overflow-x: hidden;
  height: 100vh;
}

canvas {
  display: none !important;
}
#particles-js canvas {
  display: block !important;
}
#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel {
  background-color: white;
  height: fit-content;
  border-radius: 10px;
  padding: 100px;
  margin: 20px !important;
  margin-right: 20px !important;
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about_pic {
  background-image: url("./demos/about.jpg");
}

.about_heading {
  font-weight: bold;
}

b {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  font-size: 30px;
}

.rails {
  height: 150px;
  width: 150px;
}

.icons {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  align-items: center;
}

i {
  font-size: 150px;
  margin: 25px;
}

.racket {
  height: 150px;
  width: 150px;
}

/* .panel {
  height: 100vh;
  width: 100vw;
} */
#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* .zero {
  background-color: aqua;
}
.one {
  background-color: rgb(0, 3, 3);
}

.two {
  background-color: aqua;
}

.three {
  background-color: rgb(0, 100, 100);
} */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 160px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  font-size: auto;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  font-size: xx-large;
  background-color: transparent;
}

/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

#particles-js {
  z-index: -1;
}
.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.intro_text {
  z-index: 1;
  color: white;
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.fourth {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.resume {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 20vh;
  width: 100vw;
}

#myVideo {
  position: absolute;
}
.resume_text {
  font-size: 100px;
}
.github_text {
  font-size: 200px;
}
.linkedin_text {
  font-size: 200px;
}
a {
  text-decoration: none;
  color: white;
}
.resume a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    330deg,
    #000000,
    #111316,
    #121420,
    #0f1627,
    #0a1332,
    #05063c,
    #0e003d,
    #041f65,
    #051c58
  );
  background-size: 1400% 1400%;

  -webkit-animation: gradient 8s ease infinite;
  -moz-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}
.tech {
  background: linear-gradient(
    330deg,
    #000000,
    #111316,
    #121420,
    #0f1627,
    #0a1332,
    #05063c,
    #0e003d,
    #041f65,
    #051c58
  );
  background-size: 1400% 1400%;

  -webkit-animation: gradient 8s ease infinite;
  -moz-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}
.skills {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    330deg,
    #000000,
    #111316,
    #121420,
    #0f1627,
    #0a1332,
    #05063c,
    #0e003d,
    #041f65,
    #051c58
  );
  background-size: 1400% 1400%;

  -webkit-animation: gradient 8s ease infinite;
  -moz-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.row {
  height: calc(49.5vh);
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
}
/* .project {
  width: 33.3333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: 1px solid black;
}

.project:hover {
  z-index: 10;
  box-shadow: black;
} */
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 33.3333%;
  height: 100%;
  background: rgb(41, 38, 38);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  margin: 2px;
  transition: 0.2s box-shadow;
}

.project:hover {
  box-shadow: 0 5px 35px 0px rgba(241, 199, 199, 0.877);
}

.project:hover::before,
.project:hover::after {
  display: block;
  position: absolute;
  z-index: -1;
}

.chatcord {
  background-image: url("./demos/ccord.png");
  background-size: 100% 100%;
  backdrop-filter: blur(5px);
}

.shopconnect {
  background-image: url("./demos/shp.jpg");
  background-size: 100% 100%;
  backdrop-filter: blur(5px);
}

.ecom {
  background-image: url("./demos/ecom.png");
  background-size: 100% 100%;
}

.ml {
  background-image: url("./demos/ml.png");
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .rails {
    height: 100px;
    width: 100px;
  }
  .project_demo {
    width: 100vw;
    height: 90vh;
  }
  .demo {
    height: 100%;
    width: 100%;
  }
  i {
    font-size: 100px;
    margin: 25px;
  }
  .racket {
    height: 100px;
    width: 100px;
  }
}

.skill_heading {
  font-size: 90px;
  color: white;
  height: fit-content;
  text-align: center;
}

.sub_skill {
  font-size: 70px;
  color: white;
}

p {
  border-right: solid 3px rgb(255, 255, 255);
  white-space: nowrap;
  font-family: "Source Code Pro", monospace;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

/* Animation */
p {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 1000ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 90vw;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: #090525;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.work_exp_1 {
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("demos/manipal.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.work_exp_2 {
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    270deg,
    #312e32,
    #443449,
    #6b377b,
    #80279b,
    #5f0d78,
    #2e093a,
    #52295f,
    #885199,
    #885199
  );
  background-size: 1800% 1800%;

  -webkit-animation: cpbg 30s ease infinite;
  -moz-animation: cpbg 30s ease infinite;
  animation: cpbg 30s ease infinite;
  /* background-image: url("demos/manipal.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

.exp_text {
  font-size: medium;
}

@-webkit-keyframes cpbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes cpbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cpbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.duration {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  position: absolute;
  top: 4%;
  left: 4%;
}
